<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>ミニ掲示板</title>
    <link type="text/css" href="./style.css" rel="stylesheet">
    <script>
      function init(){
        var id = localStorage.getItem('id');
        if (id == null) {
          location.href = './login';
        }
        document.querySelector('#id').textContent = 'ID:' + id;
        document.querySelector('#id_input').value = id;
      }
    </script>
  </head>

  <body onload="init();">
    <head>
      <h1>掲示板</h1>
    </head>
    <div role="main">
      <p>※メッセージは最大１０個まで保管されます。</p>
      <form method="post" action="/"></form>
      <p><span id="id"></span>
      <input type="hidden" id="id_input" name=""></p>
  </body>
</html>